{% extends "base.html" %}
{% block content %}
  <h1>A list of records</h1>

  <p>
    <a href="../levyhylly/record/add" class="btn btn-success">Add record</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Year Released</th>
        <th>In collection?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
     {% for record in records %}
      <tr>
        <td><a href="{{base_path}}/record/{{record.id}}">{{record.name}}</a></td>
        <td>{{record.name}}</td>
        <td>{{record.year}}</td>
        <td></td>
        <th><a class="btn btn-default btn-sm" href="../levyhylly/record_view">View additional information</a></th>
        <th><a class="btn btn-default btn-sm" href="../levyhylly/record_edit">Edit</a></th>
      </tr>     
       {% endfor %}
    </tbody>
  </table>
{% endblock %}
