{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>{{attributes[0].name}}</h1>

<p>
    
     {{forms.destroy_button("#{base_path}/record/#{id}/record_destroy")}}
<!--   <button class="btn btn-danger">Remove</button> <a href="../levyhylly/record_edit" class="btn btn-default">Edit</a>-->
</p>

<ul>
    <li><strong>Artist:</strong> {{attributes[0].artist}}</li>
    <li><strong>Year published:</strong> {{attributes[0].year}}</li>    
    <li><strong>In collection?:</strong> <label class="label label-danger">Yes</label></li>       
</ul>

<h3>Track listing:</h3>

<table class ="table-condensed">
    <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>                
            </tr>
        </thead>
            <tr>
                <td>War of Wrath</td>
                <td>xx:xx</td>
            </tr>
            <tr>
                <td>Into the Storm</td>
                <td>xx:xx</td>
            </tr>          
            
        
</table>


<h3>Record personell:</h3>
 <table class="table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>Guest appearance?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Flemming Rasmussen</td>
                <td>producer</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Hansi Kürsch</td>
                <td>lead and backing vocals, producer</td>
                <td></td>
            </tr>
            <tr>
                <td>André Olbrich</td>
                <td>lead, rhythm and acoustic guitars, producer</td>
                <td></td>
            </tr>
            <tr>
                <td>Marcus Siepen</td>
                <td>rhythm guitars, producer</td>
                <td></td>
            </tr>
            <tr>
                <td>Thomas "Thomen" Stauch</td>
                <td>drums & percussion, producer</td>
                <td></td>
            </tr>
            <tr>
                <td>Oliver Holzwarth</td>
                <td>bass guitar & fretless bass</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Mathias Weisner</td>
                <td>keyboards & orchestral effects</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Michael Schüren</td>
                <td>grand piano</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Max Zelzner</td>
                <td>flutes & alto-flute</td>
                <td>Yes</td>
            </tr>                       
            
        </tbody>
    </table>

{% endblock %}
