{% extends "base.html" %}
{% block content %}
  <h1>Record Searcher</h1>

  <form>
    <!-- Kenttä tarkistaa löytyykö tietokannasta tämän niminen henkilö - löytyy! -->
    <div class="form-group has-success has-feedback">
    <label class="control-label" for="inputSuccess4">Person 1</label>
    <input type="text" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="inputSuccess4Status" class="sr-only">(success)</span>
  </div>

    <!-- Kenttä tarkistaa löytyykö tietokannasta tämän niminen henkilö - ei löydy! -->
    <div class="form-group has-error has-feedback">
  <label class="control-label" for="inputError2">Person 2</label>
  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="inputError2Status" class="sr-only">(error)</span>
</div>

    <button type="submit" class="btn btn-success">Find what they have made together!</button>
  </form>
{% endblock %}