{% extends "base.html" %}
{% block content %}
  <h1>Edit record information</h1>

  <form method="post" action="{{base_path}}/record/edit_save">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        In collection
      </label>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" value={{attributes.name}}>
    </div>
    <div class="form-group">
      <label>Artist</label>
      <input type="text" class="form-control" value={{attributes.artist}}>
    </div>
      
    <div class="form-group">
      <label>Year published</label>
      <input type="text" class="form-control" value={{attributes.year}}>
    </div>
        <div class="form-group">
      <label>Keskeneräinen muokkausnäkymä</label>
      <textarea class="form-control"> lisäksi pitäisi saada ennalta määrittelemätön 
    määrä kenttiä, joiden avulla voidaan lisätä levyn henkilöstöä, tai mahdollisesti listaus henkilöstöstöstä ja "lisää henkilö" -nappi, 
    jonka takaa aukeaa erillinen henkilön ja tämän tietojen lisäyssivu. Myöskin biisien lisäysmahdollisuus. tämä on siis pahoin kesken.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
