{% block content %}
<h1>Nightfall in Middle-Earth</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Remove</button> <a href="#" class="btn btn-default">Edit</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Year published:</strong> 1998</li>    
    <li><strong>In collection?:</strong> <label class="label label-danger">No</label></li>   
</ul>

 <table class="table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>Guest appearance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Flemming Rasmussen</td>
                <td>producer</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Hansi Kürsch</td>
                <td>lead and backing vocals, producer</td>
                <td>No</td>
            </tr>
            <tr>
                <td>André Olbrich</td>
                <td>lead, rhythm and acoustic guitars, producer</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Marcus Siepen</td>
                <td>rhythm guitars, producer</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Thomas "Thomen" Stauch</td>
                <td>drums & percussion, producer</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Oliver Holzwarth</td>
                <td>bass guitar & fretless bass</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Mathias Weisner</td>
                <td>keyboards & orchestral effects</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Michael Schüren</td>
                <td>grand piano</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Max Zelzner</td>
                <td>flutes & alto-flute</td>
                <td>Yes</td>
            </tr>                       
            
        </tbody>
    </table>

{% endblock %}
